html {
	scroll-behavior: smooth;
}

body {
	font-family: Russo One;
	font-size: 10px;
	color: black;
	margin: 0;
	padding: 0;
	background: url(../img/фон.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.header {
	background: lightpink;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
}

.logo {
	font-size: 3em;
	line-height: 2;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu-item {
	display: inline-block;
	line-height: 2;
}

.menu-link {
	text-decoration: none;
	font-size: 2em;
	color: black;
	background: none;
	height: 100%;
	padding: 0px 20px;

}

.menu-link:hover {
	color: blue	;
	transition: 0.5s;
}

.search {
	background: transparent;
	border: none;
	outline: none;
	font-size: 1.4em;
	background: url(../img/magnifying-glass.png);
	background-size: 18px;
	background-repeat: no-repeat;
	padding-left: 25px;
}

.search:focus {
	border-bottom: 1px solid black;
}

.face {
	height: calc(100vh - 6em);
/*	background: url(../img/фон.jpg);*/
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.face::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(18,9,188,0.3);
	position: absolute
}

.maska {
	text-align: center;
}

.face > .maska {
	z-index: 1;
}


.lob {
	font-size: 7em;
}

.brov {
	font-size: 3em;
}

.b-left {
	width: 250px;
	height: 100px;
	margin: 10px;
	border: 3px solid black;
	background: none;
	color: black;
	font-family: Russo One;
	font-size: 24px;
	text-transform: uppercase;
	transition: 0.5s;
	border-radius: 15px;
}

.b-right {
	width: 250px;
	height: 100px;
	margin: 10px;
	background: lightpink;
	color: black;
	border: 3px solid black;
	font-family: Russo One;
	font-size: 24px;
	text-transform: uppercase;
	transition: 0.5s;
	border-radius: 15px;
}

.b-left:hover {
	background: lightpink;
	color: black; 
	
}

.b-right:hover {
	background: none;
	color: black;
	
}

.about {
	padding: 50px 0;
	text-align: center;
	background: lightpink;
}

.about-text h3 {
	font-size: 6em;
	margin: 20px 0;
}

.about-text p {
	font-size: 2em;
	margin: 20px 0;
	margin: auto;
	width: 70%;
}

.about-row {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.about-col {
	width: calc(30% - 20px);
	padding: 10px;
	min-height: 200px;
}

.about-col img {
	width: 30%;
	margin-bottom: 20px;
}

.about-col p {
	margin: auto;
	width: 60%;
	font-size: 1.5em;
}

.services {
	padding: 30px 0;
	background: lightpink;
}

.container {
	width: 70%;
	margin: auto;
}

.services-title {
	text-align: center;
}

.services-title h3 {
	font-size: 5em;
}

.services-title p {
	font-size: 2.3em;
}

.shop {

}

.row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.col {
	width: 30%;
	min-height: 150px;
	min-width: 150px;
	margin-top: 25px;
}

.card {
	background: white;
	text-align: center;
	box-shadow: 0px 5px 12px 5px darkgrey;
	border-radius: 15px;
	transition: 0.5s;
	
}

.card:hover {
	transform: scale(1.1);
}

.card-img {
	width: 35%;
	margin: 15px 0;
}

.card-title {
	font-size: 2em;
}

.card-description {
	font-size: 1.5em;
}

.card-btn {
	width: 80%;
	background: lightpink;
	line-height: 2;
	font-family: Russo One;
	margin: 15px 0;
	border-radius: 7px;
	border: 1.5px solid black;
	box-shadow: 0px 0px 5px 2px darkgrey;
	transition: 0.5s;
}

.card-btn:hover {
	background: white;
}

.delitel {
	height: 300px;

}